

/* CAN'T BE READ - INSERTED AS INLINE FOR NOW */

p.eduref-art-tags {
	padding-top: 60px;
}

p.tag-news, p.tag-insight, p.tag-blog {
	font-size: 80%;
}

p.tag-news {
	color: #c1242a;
}

p.tag-insight {
	color: #00a4c1;
}

p.tag-blog {
	color: #74c447;
}

p.tag-client {
	color: #666;
}

div.widePage > p > a > span.fa {
	font-family: "Font Awesome 5 Free";
}

.article-list-header {
	margin: 0px 0px 12px 0px;
}

/*NEW FOOTER CSS*/
/*Below are footer styles crafter for the new footer. Please add these to whichever CSS file necessary and section necessary to match standards, if any.*/

.footer-logo-row-new{
	background: -webkit-linear-gradient(18deg, #004855 22%, #01A5C1 22.1%);
  position: relative;
  height: 100%;
  z-index: 1;
}

.footer-er{
  height: 292px;
	position: relative;
}

.footer-er::before{
	content: "";
	position: absolute;
	left: 0;
	width: 50%;
	height: 292px;
	background-color: #004855;
	top: 0;
}

.footer-er::after{
	content: "";
	position: absolute;
	right: 0;
	width: 50%;
	min-height: 292px;
	background: #01A5C1;
	top: 0;
}

.footer-er .footer-content{
	margin-top: 70px;
}

.footer-er .footer-logo{
	margin-top: -90px;
	margin-left: 0px;
}

.footer-er h3{
	color: #fff;
	font: bold 18px/44px "Cambridge Sans", sans-serif;
	margin: 15px 0px 0px;
	font-weight: 700;
}

.footer-er ul li{
	margin-bottom: 2px;
}

.footer-er ul li a{
	font-size: 13px;
  color: #fff;
}

.footer-er ul li a:hover{
	text-decoration: underline;
}

.footer-er ul li a[target="_blank"]:after {
	content: url(../images/external-link-white.svg);
	padding-left: 5px;
}

.footer-er .footer-TSTE{
	background: url(../images/logo.svg) left no-repeat;
	background-size: 200px;
	height: 55px;
	left: 15px;
	margin-top: 225px;
}

.footer-logos .join li{
	float: left;
	margin-right: 7px;
}

.ju-facebook, .ju-linkedin, .ju-twitter{
	height: 40px;
	width: 40px;
}

.ju-facebook:hover, .ju-linkedin:hover, .ju-twitter:hover{
	opacity: 0.8;
}

.ju-facebook{
	background: url(../images/spriteCorporate.svg) no-repeat -297px 0px;
	background-size: 750px;
}

.ju-linkedin{
	background: url(../images/spriteCorporate.svg) no-repeat -241px 0px;
	background-size: 750px;
}

.ju-twitter{
	background: url(../images/spriteCorporate.svg) no-repeat -465px 0px;
	background-size: 750px;
}

@media only screen and (max-width: 991px){
	.footer-er{
		min-height: 675px;
	}

	.footer-er::before, .footer-er::after{
		height: 100%;
	}

	.footer-er::before{
		background: -webkit-linear-gradient(-85deg, #004855 19.3%, #01A5C1 18%);
	}

	.footer-er::after{
		background: -webkit-linear-gradient(-85deg, #004855 13.3%, #01A5C1 13.3%);
	}

	.footer-logo-row-new{
		background: -webkit-linear-gradient(-85deg, #004855 18%, #01A5C1 18.15%);
	}

	.footer-logo-row-new .row{
		margin-left: 10px;
	}

	.footer-er .footer-content{
		margin-top: 0px;
	}

	.footer-er .columns.footer-TSTE{
		margin-top: 40px;
		margin-bottom: 45px;
	}

	.footer-er .footer-logo{
		margin-top: 95px;
	}

	.footer-er .column:before, .footer-er .column:after{
		display: none;
	}

	.footer-content{
		width: 100% !important;
		float: none !important;
	}
}
