/*** PARTIALS ***/
/* Wide Screens */
/* Large Devices */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, Retina */
/*** Non-Mobile First Method ***/
#header-wrapper {
  position: relative;
  width: 100%;
  box-shadow: 0px -2px 10px #000;
  padding: 2rem 0;
  background-color: #fff;
  z-index: 11; }
  @media only screen and (max-width: 1199px) {
    #header-wrapper {
      padding: 2rem; } }
  @media only screen and (max-width: 991px) {
    #header-wrapper {
      padding: 2rem 0; } }
  #header-wrapper .row {
    width: 1200px; }
    @media only screen and (max-width: 991px) {
      #header-wrapper .row {
        width: 100%; }
        #header-wrapper .row .columns {
          width: 100%; } }
  #header-wrapper .logo-text {
    text-align: left; }
    #header-wrapper .logo-text a {
      font-size: 24px;
      font-weight: 500;
      color: #404040; }
  #header-wrapper .mobile-nav {
    background-image: url(../images/spriteCorporate.svg);
    background-position: -103px -98px;
    background-size: 800px 215px;
    width: 21px;
    height: 15px;
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
    display: none;
    cursor: pointer; }
    @media only screen and (max-width: 991px) {
      #header-wrapper .mobile-nav {
        display: block; } }
    #header-wrapper .mobile-nav.active {
      background-position: -68px -98px; }
  #header-wrapper.is-sticky {
    position: fixed;
    top: 0; }

.navigation-wrapper > ul {
  display: flex;
  align-items: center;
  text-align: right;
  justify-content: space-between;
  margin-bottom: 0;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; }
  @media only screen and (max-width: 991px) {
    .navigation-wrapper > ul {
      display: block;
      text-align: left;
      padding: 0 15px 20px;
      display: none; } }
  .navigation-wrapper > ul > li {
    position: relative;
    text-align: center; }
    @media only screen and (max-width: 991px) {
      .navigation-wrapper > ul > li {
        padding: 5px 0;
        text-align: left; } }
    .navigation-wrapper > ul > li:nth-child(2):after {
      content: '';
      position: absolute;
      top: 8px;
      margin: auto;
      width: 20px;
      height: 20px;
      background-image: url(../images/spriteCorporate.svg);
      margin-left: 40px;
      background-size: 800px 215px;
      background-position: -440px -154px;
      background-repeat: no-repeat; }
      @media only screen and (max-width: 991px) {
        .navigation-wrapper > ul > li:nth-child(2):after {
          display: none; } }
    .navigation-wrapper > ul > li:hover:nth-child(2):after {
      background-position: -440px -154px; }
    .navigation-wrapper > ul > li a {
      font-size: 13px;
      color: #333333;
      font-weight: 500;
      display: block;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out; }
      .navigation-wrapper > ul > li a:hover, .navigation-wrapper > ul > li a:active, .navigation-wrapper > ul > li a:focus {
        color: #838383; }
      @media only screen and (max-width: 991px) {
        .navigation-wrapper > ul > li a br {
          display: none; } }
    .navigation-wrapper > ul > li ul {
      position: absolute;
      left: -50%;
      right: -50%;
      display: none;
      margin: auto;
      width: 190px;
      background-color: #fff;
      text-align: left;
      padding-top: 22px; }
      @media only screen and (max-width: 991px) {
        .navigation-wrapper > ul > li ul {
          position: relative;
          left: 0;
          right: 0;
          width: auto;
          padding: 0;
          display: block; } }
      .navigation-wrapper > ul > li ul li {
        padding: 10px 15px; }
        @media only screen and (max-width: 991px) {
          .navigation-wrapper > ul > li ul li {
            padding: 5px 15px; } }
    .navigation-wrapper > ul > li:hover ul {
      display: block; }
@media only screen and (max-width: 991px) {
  .navigation-wrapper {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #fff;
    top: 20px; } }

/* Wide Screens */
/* Large Devices */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, Retina */
/*** Non-Mobile First Method ***/
/*** START OF STYLESHEET ***/
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative; }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    html {
      overflow: hidden;
      height: 100%; } }
  @supports (-ms-ime-align: auto) {
    html {
      overflow: hidden;
      height: 100%; } }

body {
  font-family: "Cambridge Sans", Sans-serif !important;
  font-size: 18px !important;
  background-color: #fff !important;
  color: #3B3B3B !important;
  position: relative; }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    body {
      overflow: auto;
      height: 100%; } }
  @supports (-ms-ime-align: auto) {
    body {
      overflow: auto;
      height: 100%; } }

img {
  width: 100%; }

.tag, .client-tag {
  text-transform: uppercase;
  font-size: 18px; }
  .tag.colored, .client-tag.colored {
    font-size: 14px;
    font-weight: 700; }
    .tag.colored.blue, .client-tag.colored.blue {
      color: #00A4C1; }
    .tag.colored.red, .client-tag.colored.red {
      color: #FF2D16; }
    .tag.colored.green, .client-tag.colored.green {
      color: #74C447; }

.client-tag {
  display: block;
  margin-top: 1rem; }
  .client-tag strong {
    color: #646363;
    text-transform: capitalize; }

.corporate-icons {
  background: url(../images/corporate-icons.svg) no-repeat;
  width: 24px;
  height: 24px;
  background-size: 942px 777px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px; }
  .corporate-icons.download-icon {
    background-position: -9px -152px; }
  .corporate-icons.prev-icon {
    background-position: -97px -152px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg); }
  .corporate-icons.next-icon {
    background-position: -97px -152px; }

.pagination {
  text-align: center;
  margin-bottom: 5rem; }

/*** ANIMATIONS ***/
.section-wrapper.fade-in {
  opacity: 1 !important;
  transform: translateY(0) !important; }

.large-p {
  padding: 122px; }
  @media only screen and (max-width: 991px) {
    .large-p {
      padding: 122px 30px; } }
  @media only screen and (max-width: 767px) {
    .large-p {
      padding: 50px 30px; } }

/*** Static banner ***/
.static-banner {
  min-height: 350px;
  width: 100%;
  padding: 64px 0;
  background-color: #004855;
  position: relative;
  z-index: 10; }
  .static-banner .row {
    width: 1200px; }

.intro-title {
  text-align: center; }
  .intro-title h2 {
    color: #00a5c1;
    font: 500 48px "Cambridge Sans", Sans-serif;
    margin-top: 0; }
    @media only screen and (max-width: 480px) {
      .intro-title h2 {
        font-size: 30px;
        margin-top: 20px; } }
  .intro-title p {
    color: #fff;
    max-width: 40%;
    margin: 2.25rem auto;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.6; }
    @media only screen and (max-width: 767px) {
      .intro-title p {
        max-width: 80%; } }

/*** FILTER TAB ***/
.filter-wrapper {
  width: 100%;
  padding: 2rem 0;
  background-color: #f2f2ee; }
  .filter-wrapper .row {
    width: 1200px; }
    @media only screen and (max-width: 991px) {
      .filter-wrapper .row {
        width: 100%; } }
  .filter-wrapper .filter-container {
    display: block;
    font-size: 0;
    text-align: center; }
    .filter-wrapper .filter-container .tab-filter {
      font-size: 0; }
      .filter-wrapper .filter-container .tab-filter a {
        display: inline-block;
        vertical-align: middle;
        width: calc(100%/3);
        font-size: 18px;
        cursor: pointer;
        font-weight: 400;
        color: #3B3B3B; }
        .filter-wrapper .filter-container .tab-filter a:after {
          content: '';
          position: absolute;
          top: 6px;
          margin: auto;
          width: 18px;
          height: 10px;
          background-image: url(../images/spriteCorporate.svg);
          margin-left: 5px;
          background-size: 800px 215px;
          background-position: -330px -100px;
          background-repeat: no-repeat; }
        .filter-wrapper .filter-container .tab-filter a.active {
          font-weight: 700; }
          .filter-wrapper .filter-container .tab-filter a.active:after {
            background-position: -361px -100px; }
        .filter-wrapper .filter-container .tab-filter a.no-drop-down:after {
          display: none; }
    .filter-wrapper .filter-container .tab-container {
      margin-top: 2rem;
      display: none; }
      .filter-wrapper .filter-container .tab-container .tab-content a {
        font-size: 15px;
        cursor: pointer;
        font-weight: 400;
        color: #3B3B3B;
        padding: 1rem;
        display: inline-block; }
        .filter-wrapper .filter-container .tab-container .tab-content a:hover {
          color: #777777; }
        .filter-wrapper .filter-container .tab-container .tab-content a.active {
          font-weight: bold; }
    .filter-wrapper .filter-container .filter-navigation ul {
      margin: 0;
      font-size: 0; }
      .filter-wrapper .filter-container .filter-navigation ul li {
        display: inline-block;
        padding: 0 8rem; }
        @media only screen and (max-width: 991px) {
          .filter-wrapper .filter-container .filter-navigation ul li {
            padding: 0 5rem; } }
        @media only screen and (max-width: 767px) {
          .filter-wrapper .filter-container .filter-navigation ul li {
            display: block; } }
        .filter-wrapper .filter-container .filter-navigation ul li a {
          font-size: 18px;
          font-weight: 400;
          color: #3B3B3B;
          display: block;
          transition: all .1s ease-in-out;
          -webkit-transition: all .1s ease-in-out;
          -moz-transition: all .1s ease-in-out;
          -o-transition: all .1s ease-in-out; }
          .filter-wrapper .filter-container .filter-navigation ul li a.active, .filter-wrapper .filter-container .filter-navigation ul li a:hover {
            font-weight: 700; }
  .filter-wrapper .filters {
    text-align: center;
    padding: 2rem 0 0; }
    .filter-wrapper .filters ul {
      margin: 0; }
      .filter-wrapper .filters ul li {
        display: inline-block;
        vertical-align: middle;
        padding: 0 1rem; }
        .filter-wrapper .filters ul li a {
          display: block;
          color: #3B3B3B;
          font-size: 16px; }
          .filter-wrapper .filters ul li a:hover {
            color: #777777; }

/*** List of articles ***/
.articles-wrapper {
  padding: 3rem 0; }
  .articles-wrapper .article {
    padding: 1rem 0 2rem; }
    .articles-wrapper .article.row {
      width: 1200px; }
    .articles-wrapper .article:after {
      content: "";
      width: calc(100% - 30px);
      border-bottom: 1px solid #3B3B3B;
      margin: 0 auto; }
      @media only screen and (max-width: 991px) {
        .articles-wrapper .article:after {
          padding-top: 15px; } }
    .articles-wrapper .article:last-child:after {
      border-bottom: none; }
    .articles-wrapper .article.no-border {
      border-bottom: none; }
    .articles-wrapper .article h2, .articles-wrapper .article h3, .articles-wrapper .article h4, .articles-wrapper .article h5 {
      margin-top: 0;
      font-family: "Cambridge Sans", sans-serif; }
    @media only screen and (max-width: 767px) {
      .articles-wrapper .article h2 {
        font-size: 45px !important; } }
    .articles-wrapper .article:last-child {
      border-bottom: none; }
    .articles-wrapper .article .article-info p:last-child {
      margin-bottom: 0; }
    .articles-wrapper .article .image-holder {
      margin: 0 auto 30px; }
    .articles-wrapper .article .article-info {
      margin-bottom: 2rem; }

/*** Article ***/
.article-wrapper {
  padding-top: 60px; }
  @media only screen and (max-width: 991px) {
    .article-wrapper {
      margin: 0;
      padding-top: 100px;
      margin-bottom: 50px; } }
  @media only screen and (max-width: 767px) {
    .article-wrapper {
      padding-top: 60px; } }
  .article-wrapper h2 {
    margin-top: 30px; }
  .article-wrapper .image-holder.full-width {
    width: 150%;
    margin-left: -25%; }
    @media only screen and (max-width: 1199px) {
      .article-wrapper .image-holder.full-width {
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
        max-width: 1000%;
        width: auto; } }

/*# sourceMappingURL=main.css.map */
