@charset "UTF-8";

/*** PARTIALS ***/

@import "partials/header";
@import "partials/media-queries";
@import "partials/mixins";
@import "partials/variables";

/*** START OF STYLESHEET ***/

html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;

	@include IE11Support {
		overflow: hidden;
		height: 100%;
	}

	@include IEEdgeSupport {
		overflow: hidden;
		height: 100%;
	}
}

body {
	font-family: "Cambridge Sans", Sans-serif !important;
	font-size: 18px !important;
	background-color: #fff !important;
	color: $black !important;
	position: relative;

	@include IE11Support {
		overflow: auto;
		height: 100%;
	}

	@include IEEdgeSupport {
		overflow: auto;
		height: 100%;
	}
}

img {
	width: 100%;
}

.tag, .client-tag {
	text-transform: uppercase;
	font-size: 18px;

	&.colored {
		font-size: 14px;
		font-weight: $bold;

		&.blue {
			color: $blue;
		}
		&.red {
			color: $red;
		}
		&.green {
			color: $green;
		}

	}
}

.client-tag {
	display: block;
	margin-top: 1rem;

	strong {
		color: #646363;
		text-transform: capitalize;
	}
}

.corporate-icons {
	background: url(#{$imagePath}/corporate-icons.svg) no-repeat;
    width: 24px;
    height: 24px;
    background-size: 942px 777px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;

    &.download-icon {
    	background-position: -9px -152px;
    }

    &.prev-icon {
    	background-position: -97px -152px;
    	transform: rotate(180deg);
    	-webkit-transform: rotate(180deg);
    	-moz-transform: rotate(180deg);
    	-o-transform: rotate(180deg);
    }

    &.next-icon {
    	background-position: -97px -152px;
    }
}

.pagination {
	text-align: center;
	margin-bottom: 5rem;
}

/*** ANIMATIONS ***/

.section-wrapper.fade-in {
	opacity: 1 !important;
	transform: translateY(0) !important;
}

.large-p {
	padding: $large-padding;

	@include mediumDevices {
		padding: $large-padding 30px;
	}

	@include smallDevices {
		padding: 50px 30px;
	}
}

/*** Static banner ***/

.static-banner {
	min-height: 350px;
	width: 100%;
	padding: 64px 0;
	background-color: #004855;
	position: relative;
	z-index: 10;

	.row {
		width: 1200px;
	}

}

.intro-title {
	text-align: center;

	h2 {
		color:#00a5c1;
		font: $medium $h2 "Cambridge Sans", Sans-serif;
		margin-top: 0;

		@include extraSmallDevices {
			font-size: 30px;
			margin-top: 20px;
		}
	}
	p {
		color: #fff;
		max-width: 40%;
		margin: 2.25rem auto;
		font-weight: $medium;
		font-size: 18px;
		line-height: 1.6;

		@include smallDevices {
			max-width: 80%;
		}
	}
}

/*** FILTER TAB ***/

.filter-wrapper {
    width: 100%;
    padding: 2rem 0;
    background-color: #f2f2ee;

    .row {
    	width: 1200px;

    	@include mediumDevices {
    		width: 100%;
    	}
    }

    .filter-container {
    	display: block;
    	font-size: 0;
    	text-align: center;

    	.tab-filter {
    		font-size: 0;

    		a {
    			display: inline-block;
	    		vertical-align: middle;
	    		width: calc(100%/3);
	    		font-size: 18px;
    			cursor: pointer;
    			font-weight: $regular;
    			color: $black;

    			&:after {
    				content: '';
				    position: absolute;
				    top: 6px;
				    margin: auto;
				    width: 18px;
				    height: 10px;
				    background-image: url(#{$corporateImagePath}/spriteCorporate.svg);
				    margin-left: 5px;
				    background-size: 800px 215px;
				    background-position: -330px -100px;
				    background-repeat: no-repeat;

    			}

    			&.active {
					font-weight: $bold;

    				&:after {
						background-position: -361px -100px;
					}
    			}

    			&.no-drop-down {
    				&:after {
    					display: none;
    				}
    			}
    		}
    	}

    	.tab-container {
			margin-top: 2rem;
			display: none;

    		.tab-content {
    			a {
    				font-size: 15px;
	    			cursor: pointer;
	    			font-weight: $regular;
	    			color: $black;
	    			padding: 1rem;
	    			display: inline-block;

	    			&:hover {
	    				color: #777777;
	    			}

					&.active {
						font-weight: bold;
					}
    			}
    		}
    		
    	}

    	.filter-navigation {
    		ul {
    			margin: 0;
    			font-size: 0;

    			li {
    				display: inline-block;
    				padding: 0 8rem;

    				@include mediumDevices {
    					padding: 0 5rem;
    				}

    				@include smallDevices {
    					display: block;
    				}

    				a {
    					font-size: 18px;
    					font-weight: $regular;
    					color: $black;
    					display: block;
    					transition: all .1s ease-in-out;
    					-webkit-transition: all .1s ease-in-out;
    					-moz-transition: all .1s ease-in-out;
    					-o-transition: all .1s ease-in-out;

    					&.active, &:hover {
	    					font-weight: 700;
	    					
	    				}
    				}
    			}
    		}
    	}
    }

    .filters {
	    text-align: center;
	    padding: 2rem 0 0;

	    ul {
	    	margin: 0;

	    	li {
		    	display: inline-block;
		    	vertical-align: middle;
		    	padding: 0 1rem;

		    	a {
		    		display: block;
		    		color: $black;
		    		font-size: 16px;

		    		&:hover {
		    			color: #777777;
		    		}
		    	}
		    }
	    }
	}
}

/*** List of articles ***/

.articles-wrapper {
    padding: 3rem 0;

    .article {
    	padding: 1rem 0 2rem;

    	&.row {
    		width: 1200px;
    	}

    	&:after {
    		content: "";
    		width: calc(100% - 30px);
    		border-bottom: 1px solid $black;
    		margin: 0 auto;

    		@include mediumDevices {
    			padding-top: 15px;
    		}
    	}

    	&:last-child {
    		&:after {
    			border-bottom: none;
    		}
    	}

    	&.no-border {
    		border-bottom: none;
    	}

    	h2, h3, h4, h5 {
    		margin-top: 0;
    		font-family: "Cambridge Sans", sans-serif;
    	}

    	@include smallDevices {
    		h2 {
    			font-size: 45px !important;
    		}
    	}

    	&:last-child {
    		border-bottom: none;
    	}

    	.article-info {
    		p:last-child {
    			margin-bottom: 0;
    		}
    	}

    	.image-holder {
    		margin: 0 auto 30px;
    	}

    	.article-info {
    		margin-bottom: 2rem;
    	}
    }
}

/*** Article ***/

.article-wrapper {
	padding-top: 60px;

	@include mediumDevices {
		margin: 0;
		padding-top: 100px;
		margin-bottom: 50px;
	}

	@include smallDevices {
		padding-top: 60px;
	}

	h2 {
		margin-top: 30px;
	}

	.image-holder {
		&.full-width {
			width: 150%;
			margin-left: -25%;

			@include largeDevices {
				margin-left: calc(50% - 50vw);
			    margin-right: calc(50% - 50vw);
			    max-width: 1000%;
			    width: auto;
			}
		}
	}
}




