@charset "UTF-8";
// Partials
@import "media-queries";
@import "mixins";
@import "variables";

#header-wrapper {
	position: relative;
	width: 100%;
	box-shadow: 0px -2px 10px #000;
	padding: 2rem 0;
	background-color: #fff;	
	z-index: 11;

	@include largeDevices {
		padding: 2rem;
	}

	@include mediumDevices {
		padding: 2rem 0;
	}

	.row {
		width: 1200px;
		@include mediumDevices {
			width: 100%;

			.columns {
				width: 100%;
			}
		}
	}

	.logo-text {
		text-align: left;

		a {
			font-size: 24px;
			font-weight: 500;
			color: #404040;
		}
	}

	.mobile-nav {
	    background-image: url(#{$corporateImagePath}/spriteCorporate.svg);
	    background-position: -103px -98px;
	    background-size: 800px 215px;
	    width: 21px;
	    height: 15px;
	    position: absolute;
	    right: 15px;
	    top: 0;
	    bottom: 0;
	    margin: auto;
	    display: none;
	    cursor: pointer;

	    @include mediumDevices {
	    	display: block;
	    }

	    &.active {
	    	background-position: -68px -98px;
	    }
	}

	&.is-sticky {
		position: fixed;
		top: 0;
	}
}

.navigation-wrapper {
	> ul {
		display: flex;
		align-items: center;
		text-align: right;
		justify-content: space-between;
		margin-bottom: 0;white-space: nowrap;
		-webkit-overflow-scrolling: touch;
  		-ms-overflow-style: -ms-autohiding-scrollbar;

		@include mediumDevices {
			display: block;
			text-align: left;
			padding: 0 15px 20px;
			display: none;
		}

		> li {
			position: relative;
			text-align: center;

			@include mediumDevices {
				padding: 5px 0;
				text-align: left;
			}

			&:nth-child(2){
				&:after {
				    content: '';
				    position: absolute;
				    top: 8px;
				    margin: auto;
				    width: 20px;
				    height: 20px;
				    background-image: url(#{$corporateImagePath}/spriteCorporate.svg);
				    margin-left: 40px;
				    background-size: 800px 215px;
				    background-position: -440px -154px;
				    // background-position: -332px -100px;
				    background-repeat: no-repeat;

				    @include mediumDevices {
						display: none;
				    }
				}
			}

			&:hover {
				&:nth-child(2){
					&:after {
					    background-position: -440px -154px;
					}
				}
			}
			
			a {
				font-size: 13px;
				color: $link-color;
				font-weight: $medium;
				display: block;
				@include transition(all .3s ease-in-out);

				&:hover, &:active, &:focus {
					color: $link-active;
				}

				@include mediumDevices {
		    		br {
		    			display: none;
		    		}
		    	}
			}

			ul {
				position: absolute;
				left: -50%;
				right: -50%;
				display: none;
				margin: auto;
			    width: 190px;
			    background-color: #fff;
			    text-align: left;
			    padding-top: 22px;

			    @include mediumDevices {
			    	position: relative;
			    	left: 0;
			    	right: 0;
			    	width: auto;
			    	padding: 0;
			    	display: block;
			    }

			    li {
			    	padding: 10px 15px;

			    	@include mediumDevices {
			    		padding: 5px 15px;
			    	}
			    }

			}

			&:hover ul {
				display: block;
			}
		}
	}

	@include mediumDevices {
		position: absolute;
	    left: 0;
	    width: 100%;
	    background-color: #fff;
	    top: 20px;
	}
}