/* Wide Screens */
$wideScreen: 1280px;

/* Large Devices */
$largeDevices: 1199px;

/* Medium Devices, Desktops */
$mediumDevices: 991px;

/* Small Devices, Tablets */
$smallDevices: 767px;

/* Extra Small Devices, Phones */
$extraSmallDevices: 480px;

/* Custom, Retina */
$customRetina: 360px;

/*** Non-Mobile First Method ***/

@mixin wideScreen {
  @media only screen and (min-width: #{$largeDevices}) and (max-width: #{$wideScreen}) {
    @content;
  }
}

@mixin iPadScreen {
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}

@mixin largeDevices {
  @media only screen and (max-width: #{$largeDevices}) {
    @content;
  }
}

@mixin mediumDevices {
  @media only screen and (max-width: #{$mediumDevices}) {
    @content;
  }
}

@mixin smallDevices {
  @media only screen and (max-width: #{$smallDevices}) {
    @content;
  }
}

@mixin extraSmallDevices {
  @media only screen and (max-width: #{$extraSmallDevices}) {
    @content;
  }
}

@mixin customRetina {
  @media only screen and (max-width: #{$customRetina}) {
    @content;
  }
}

@mixin IE11Support {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
}

@mixin IEEdgeSupport {
  @supports (-ms-ime-align: auto) {
    @content;
  }
}


