@mixin backgroundImage($name){
  background-image: url("#{$imagePath}/#{$name}.png");
  background-image: linear-gradient(transparent, transparent), url("#{$imagePath}/#{$name}.svg");
}

@mixin transition($transition) {
	transition: $transition;
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-o-transition: $transition;
}