// Colors

$beige: #EAE5DF;
$black: #3B3B3B;
$white: #F8F7F5;
$teal: #64CCC9;
$link-color: #333333;
$link-active: #838383;
$red: #FF2D16;
$blue: #00A4C1;
$green: #74C447;
$darkblue: #004855;

// Font weights

$extraLight: 100;
$thin: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$blackWeight: 800;

// Headers sizes

$h1: 56px;
$h2: 48px;
$h3: 36px;
$h4: 24px;
$h5: 18px;

// Paddings

$large-padding: 122px;
$medium-padding: 80px;
$small-padding: 40px;



// Extensions and mixin support 
$imagePath: '../images' !default;
$corporateImagePath: '../images' !default;